/* For modifying Bootstrap variables, and classes or selectors present in Bootstrap */
/* For wholly new custom styles, place them in _style.css */

/* * VARIABLES * */

/* NOTE: Prefix "--bs-custom-" indicates new custom properties not present in standard Bootstrap */
:root {
  --bs-body-font-family: "Inter";
  --bs-custom-headings-font-family: "Plus Jakarta Sans";
  --bs-custom-headings-scale: 0.7;
  /* * COLORS */
  --bs-primary: #fa709a;
  --bs-primary-rgb: 250, 112, 154;
  /* ? maybe ? */
  --bs-secondary: #ffe0ea;
  --bs-secondary-rgb: 255, 224, 234;

  --bs-link-color: var(--bs-primary);
  --bs-link-color-rgb: var(--bs-primary-rgb);
  /* ? maybe ? */
  --bs-link-hover-color: var(--bs-primary);
  --bs-link-hover-color-rgb: var(--bs-primary-rgb);
}

@media (min-width: 992px) {
  :root {
    --bs-custom-headings-scale: 1;
  }
}

.btn {
  --bs-btn-font-size: 0.875rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.6rem;
}

/* TODO: SHADES */
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--bs-primary);
  --bs-btn-disabled-border-color: var(--bs-primary);
}

/* * CLASSES OVERRIDES * */

/* Container */
.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  height: 100%;
}

.container-sm {
  max-width: 540px !important;
}

.container-md {
  max-width: 720px !important;
}

.container-lg {
  max-width: 960px !important;
}

.container-xl {
  max-width: 1140px !important;
}

.container-xxl {
  max-width: 1320px !important;
}


/* Headings */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: var(--bs-custom-headings-font-family);
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 1rem;
}


.h1, h1 {
  font-size: calc(3.75rem * var(--bs-custom-headings-scale));
}

.h2, h2 {
  font-size: calc(3.125rem * var(--bs-custom-headings-scale));
}

.h3, h3 {
  font-size: calc(2.375rem * var(--bs-custom-headings-scale));
}

.h4, h4 {
  font-size: calc(1.875rem * var(--bs-custom-headings-scale));
}