/* For modifying Bootstrap variables, and classes or selectors present in Bootstrap */
/* For wholly new custom styles, place them in _style.css */

/* * VARIABLES * */

/* NOTE: Prefix "--bs-custom-" indicates new custom properties not present in standard Bootstrap */
:root {
  --bs-body-font-family: "Inter";
  --bs-custom-headings-font-family: "Plus Jakarta Sans";
  --bs-custom-headings-scale: 0.65;
  /* * COLORS */
  --bs-primary: #fa709a;
  --bs-primary-rgb: 250, 112, 154;
  /* todo */
  /* --bs-primary-text-emphasis:  */
  --bs-primary-bg-subtle: #ffe0ea;
  --bs-primary-bg-subtle: #fff7fa;
  /* --bs-primary-border-subtle:  */
  /* ? maybe ? */


  --bs-link-color: var(--bs-primary);
  --bs-link-color-rgb: var(--bs-primary-rgb);
  /* ? maybe ? */
  --bs-link-hover-color: var(--bs-primary);
  --bs-link-hover-color-rgb: var(--bs-primary-rgb);

  --bs-border-radius: 16px;
}

@media (min-width: 992px) {
  :root {
    /* TODO: REFACTOR HEADINGS VALUES */
    /* --bs-custom-headings-scale: 1; */
    --bs-custom-headings-scale: 0.9;
  }
}

.btn {
  --bs-btn-font-size: 0.875rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.6rem;
  --bs-btn-border-radius: 0.5em;
}

/* TODO: SHADES */
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--bs-primary);
  --bs-btn-disabled-border-color: var(--bs-primary);
}

/* TODO */
/* .btn-outline-primary {

} */

/* * CLASSES OVERRIDES * */

/* Container */
.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  height: 100%;
}

.container-sm {
  max-width: 540px !important;
}

.container-md {
  max-width: 720px !important;
}

.container-lg {
  max-width: 960px !important;
}

.container-xl {
  max-width: 1140px !important;
}

.container-xxl {
  max-width: 1320px !important;
}

a {
  text-decoration: none;
}
a:where(:hover) {
  text-decoration: underline;
}

/* ? maybe ? */
p {
  margin-bottom: 1.5rem;
}


/* Headings */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: var(--bs-custom-headings-font-family);
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 1rem;
  letter-spacing: -0.015em;
}


/* .h1, h1 {
  font-size: calc(3.75rem * var(--bs-custom-headings-scale));
  font-weight: 800;
}

.h2, h2 {
  font-size: calc(3.0rem * var(--bs-custom-headings-scale));
}

.h3, h3 {
  font-size: calc(2.375rem * var(--bs-custom-headings-scale));
}

.h4, h4 {
  font-size: calc(1.875rem * var(--bs-custom-headings-scale));
}

.h5, h5 {
  font-size: calc(1.5rem * var(--bs-custom-headings-scale));
} */

/* TESTING */
h1, h2, h3, h4, h5, h6 {
  --temp-headings-slope: 1.2;
  /* ? maybe ? */
  margin-bottom: 0.5em;
}

h1 {
  font-size: calc(1rem * pow(var(--temp-headings-slope), 5));
  font-weight: 800;
}

h2 {
  font-size: calc(1rem * pow(var(--temp-headings-slope), 4));
  font-weight: 750;
}

h3 {
  font-size: calc(1rem * pow(var(--temp-headings-slope), 3));
}

h4 {
  font-size: calc(1rem * pow(var(--temp-headings-slope), 2));
}

h5 {
  font-size: calc(1rem * pow(var(--temp-headings-slope), 1));
}

h6 {
  font-size: calc(1rem * pow(var(--temp-headings-slope), 0));
}

@media (min-width: 992px) {
  h1, h2, h3, h4, h5, h6 {
    --temp-headings-slope: 1.27;
  }
}

.navbar {
  --bs-navbar-nav-link-padding-x: 1.125rem;
  --bs-navbar-padding-y: 0.75rem;
  --bs-navbar-toggler-border-color: transparent;
  --bs-navbar-toggler-border-radius: 0px;
  --bs-navbar-toggler-focus-width: 0px;
  --bs-navbar-toggler-padding-y: 6px;
  --bs-navbar-toggler-padding-x: 6px;
  --bs-navbar-hover-color: var(--bs-primary);
}

.navbar-toggler-icon {
  width: 24px;
  height: 24px;
}



.blockquote {
  font-size: inherit;
  border-inline-start: 3px solid var(--bs-primary);
  padding-inline-start: 2rem;
}

.blockquote-footer {
  margin: 1rem 0 0;
  text-align: right;
}

.badge {
  --bs-badge-font-weight: 400;
  --bs-badge-font-size: 70%;
  vertical-align: middle;
}

.accordion {
  --bs-accordion-btn-focus-box-shadow: transparent;
  --bs-accordion-active-bg: transparent;
  --bs-accordion-btn-color: inherit;
  --bs-accordion-active-color: inherit;
}