/* ? move to reset */
img {
  max-width: 100%;
  display: block;
}

/* todo - possibly update v-data value */
div[data-v-5782d946] {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

main#main {
  flex: 1;
}



/* CUSTOM CLASSES */

section {
  margin-block: 3rem;
}

section section {
  margin-block: 1.5rem;
}

@media (min-width: 992px) {
  section {
    margin-block: 6rem;
  }

  section section {
    margin-block: 3rem;
  }
}

/* header {
  min-height: 74px;
} */


.hero {
  --hero-img: url('/img/hero-img.jpg');
  min-height: 500px;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.35), transparent 16%, transparent 46%, white),
    linear-gradient(90deg, rgba(255, 255, 255, 0.35), transparent 20%, transparent 85%, white),
    linear-gradient(#ffffffbf, #ffffffbf),
    var(--hero-img);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% 20%;
}

@media (min-width: 578px) {
  .hero {
    min-height: 700px;
  }
}

hgroup p,
.subheader {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
  font-family: var(--bs-custom-headings-font-family);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.square {
  aspect-ratio: 1;
}

q {
  font-style: italic;
}

figcaption {
  margin-top: 1rem;
  color: #525252;
  font-style: italic;
  font-size: 0.875rem;
  color: var(--bs-secondary-color)
}