/* ! IMPORTANT: Default app stylings (app.[HASH].css, chunk-vendors.[HASH].css) gets REMOVED via JS to allow for a clean slate. */

/* EXTERNAL */
/* Libraries */
/* Bootstrap */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css'); 
/* Tabler */
/* @import url('https://cdn.jsdelivr.net/npm/@tabler/core@1.4.0/dist/css/tabler.min.css');  */

/* INTERNAL */
@import url('_bs-custom.css');
/* @import url('_tblr-custom.css'); */
@import url('_fonts.css');
/* ? reset / normalize ? - if needed */

@import url('_style.css');

/* ? Use @layers? We can @import into @layer, like: */
/* @import "theme.css" layer(utilities); */