/* ! IMPORTANT: Default app stylings (app.[HASH].css, chunk-vendors.[HASH].css) get REMOVED via JS to create a clean slate. */

@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css'); 
@import url('https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css');


@import url('bootstrap-custom.css');
@import url('swiper-custom.css');

@import url('fonts.css');
@import url('style.css');

/* ? Use @layers? We can @import into @layer, like: */
/* @import "theme.css" layer(utilities); */