:root {
  /* * Brand * */
  --color-blue: #20234c;
  --color-yellow: #ffed00;

  /* * Grays * */
  --color-gray: #f8f8f8;
  /* --color-gray-light: #f2f2f2; */
  /* --color-gray-mid: #e4e4e4; */
  --color-gray-dark: #4D4D4D;

  /* * Palette * */
  --color-primary: oklch(0.3 0 0);
  --color-secondary: oklch(0.84 0.05 79.99);
  --color-tertiary: oklch(0.985 0.006 80);

  /* * Accessibility * */
  --color-focus-outline: #72c2ff;

  /* * Other */
  scroll-behavior: smooth;
  accent-color: var(--color-secondary);
  interpolate-size: allow-keywords;
  transition-behavior: allow-discrete;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: 3px solid var(--color-focus-outline, -webkit-focus-ring-color) !important;
  outline-offset: 0px !important;
}


/* * Dark Reader optimization * */
html[data-darkreader-scheme="dark"] {
  --darkreader-bg--color-yellow: #dbb722;
}

html[data-darkreader-scheme="dark"] .btn-yellow {
  --darkreader-text--color-blue: #141617;
}


/* * Page will always fill screen height * */
div[data-v-5782d946] {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main#main {
  flex: 1;
  scrollbar-color: var(--color-secondary) var(--color-tertiary);
}

[hidden][hidden][hidden][hidden] {
  display: none !important;
}

/* * Disables sticky header * */
.head {
  position: static !important;
}

table {
  border-collapse: collapse;
  border: none;
  caption-side: bottom;
}

th,
td {
  padding: 0;
}

:where(main) a {
  color: inherit;
  transition: none;
}

dialog {
  margin: auto;
  border: none;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.3333);
}

dialog:focus-visible {
  outline: none !important;
  outline-offset: inherit !important;
}

body:has(dialog[open]:not([class*="cookie"])) {
  overflow-y: hidden;
}

ul,
ol,
menu {
  list-style-type: none;
}

dl,
dd,
dt {
  margin: 0;
  padding: 0;
}

picture,
img,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
  user-select: none;
}

/* Prevents <sub> and <sup> elements from affecting the line height */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

input,
button {
  color: inherit;
  font-size: 100%;
  font-family: inherit;
}

textarea {
  max-width: 100%;
  font-size: inherit;
  font-family: inherit;
}

textarea:focus-visible {
  outline: none;
}

small {
  font-size: 80%;
}

strong {
  font-weight: 700;
}

em {
  font-style: normal;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--color-body-text-em);
}

label {
  user-select: none;
}

address {
  font-style: normal;
}

:where(main) p {
  margin-block: 15px;
  text-wrap: pretty;
}

:where(main) p:first-child {
  margin-top: 0;
}

:where(main) p:last-child {
  margin-bottom: 0;
}

.hidden {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  margin: -1px;
  padding: 0;
  border: 0;
  clip-path: inset(50%);
  white-space: nowrap;
}



section {
  position: relative;
  margin-block: 4rem;
  scroll-margin-top: 4rem;
  isolation: isolate;
}

:is(h1, h2, h3, h4, h5, h6) {
  color: #333333;
  margin: 0;
}

:is(h1, h2, h3, h4, h5, h6) small {
  font-size: 0.6em;
  font-weight: 500;
}

:is(h1, h2, h3, h4, h5, h6) strong {
  font-weight: 800;
}

hgroup {
  margin: 3rem 0;
}

hgroup p {
  margin: 0
}

[data-text-behind] {
  position: relative;
  /* padding-top: 1em; */
}

[data-text-behind]::before {
  content: attr(data-text-behind);
  color: #e9e9e9;
  opacity: 50%;
  font-size: 5.0em;
  font-weight: 800;
  font-weight: 800;
  line-height: 0.8;
  position: absolute;
  /* transform: translate(0.2em, -0.65em); */
  top: 50%;
  translate: -15px -50%;
  z-index: -1;
  white-space: nowrap;
}

