/* ? move to reset */
img {
  max-width: 100%;
  display: block;
}

/* todo - possibly update v-data value */
div:has(>#main) {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

main#main {
  flex: 1;
}

/* WIP */
header {
  box-shadow: inset 0px -1px 0px 0px #f2f2f2;
  z-index: 1;
  background-color: white;
  top: 0;
  width: 100%;
  /* transition-property: background-color, padding, translate;
  transition-duration: 150ms, 150ms, 400ms; */
  transition: background-color 150ms, padding 150ms, translate 500ms ease-in-out;
}

header.transparent:has(.navbar-collapse.collapse:not(.show)) {
  background: transparent;
  box-shadow: none;
}

header.sticky {
  position: sticky;
}

header.fixed {
  position: fixed;
}

header.absolute {
  position: absolute;
}

/* TEMP */
header.hidden:has(.navbar-collapse.collapse:not(.show)) {
  translate: 0% -100%;
}

section {
  margin-block: 3.5rem;
  scroll-margin-top: 8.5rem;
  overflow-x: hidden;
  overflow-x: clip;
}

/* ? maybe ? */
section:first-of-type {
  margin-top: 3rem;
  /* background-color: red; */
}

section[class*="bg-"] {
  margin-block: 0;
  padding-block: 3rem;
}

section section {
  margin-block: 1.5rem;
}

@media (min-width: 992px) {
  section {
    margin-block: 6rem;
  }

  section section {
    margin-block: 3rem;
  }
}


.hero {
  --hero-img: url('../img/hero-img.jpg');
  min-height: 300px;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.6), transparent 20%, transparent 46%, white),
    linear-gradient(90deg, rgba(255, 255, 255, 0.35), transparent 20%, transparent 85%, white),
    linear-gradient(#ffffffbf, #ffffffbf),
    var(--hero-img);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% 20%;
}

@media (min-width: 992px) {
  .hero {
    min-height: 500px;
  }
}

hgroup p,
.subheader {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
  font-family: var(--bs-custom-headings-font-family);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.square {
  aspect-ratio: 1;
}

q {
  font-style: italic;
}

figcaption {
  margin-top: 1rem;
  color: #525252;
  font-style: italic;
  font-size: 0.875rem;
  color: var(--bs-secondary-color)
}

/* TEMP */
.temp-hero {
  --hero-img: url('../img/couveuse-bebe-premature.webp');
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.35), transparent 16%, transparent 46%, white),
    linear-gradient(90deg, rgba(255, 255, 255, 0.35), transparent 20%, transparent 85%, white),
    linear-gradient(#ffffffe1, #ffffffbf),
    var(--hero-img);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  padding-block: 3.5rem 3.5rem;
  text-align: center;
}

@media (min-width: 576px) {
  .temp-hero {
    padding-block: 6.5rem 6.5rem;
  }
}

/* ARTICLE STYLING (BLOG POST, PRESS RELEASE) */


/* article section {
  margin-block: 3rem;
}

article :is(.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6) {
  margin-top: 2rem;
}

article p {
  margin-bottom: 1lh;
} */


/* WIP */
:is(.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6) {
  margin-top: 1.75rem;
}

:is(.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6):first-child {
  margin-top: 0;
}

hgroup :is(.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6) {
  margin-top: 0;
}