/* ? move to reset */
img {
  max-width: 100%;
  display: block;
}

/* TODO: possibly update v-data value */
div:has(>#main) {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

main#main {
  flex: 1;
}

section {
  margin-block: 3.5rem;
  scroll-margin-top: 8.5rem;
  overflow-x: hidden;
  overflow-x: clip;
}

/* ? maybe ? */
section:first-of-type {
  margin-top: 3rem;
  /* background-color: red; */
}

section[class*="bg-"] {
  margin-block: 0;
  padding-block: 3rem;
}

section section {
  margin-block: 1.5rem;
}

@media (min-width: 992px) {
  section {
    margin-block: 6rem;
  }

  section section {
    margin-block: 3rem;
  }
}

/* WIP */

/* TEMP: Replace with correct selector for PROD */
.head {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
}

header {
  --header-transition-duration: 200ms;
  --header-logos-scale: 1;
  --header-padding-y: 12px;
  --header-padding-x: 15px;

  transition: all var(--header-transition-duration) ease-in-out;
  padding-block: var(--header-padding-y);
  padding-inline: var(--header-padding-x);

  background-color: white;
  box-shadow: 0px 2px 6px 0px #0000001a;
}

/* # HEADER LOGOS */

/* logos container */
.header-logos {
  gap: 1.25rem;
  transition: all var(--header-transition-duration) ease-in-out;
}

header .header-logo {
  width: auto;
  transition: all var(--header-transition-duration) ease-in-out;
  transform-origin: left top;
}

header .logo-nzd {
  height: calc(34px * var(--header-logos-scale));
}

header .logo-cg {
  height: calc(28px * var(--header-logos-scale));
}

.logo-cg-full-wrapper {
  overflow: visible;
  height: 0;
  position: absolute;
  top: calc(var(--header-padding-y) * -1);
    transition: all var(--header-transition-duration) ease-in-out;
}
.logo-cg-full {
  height: calc(80px * var(--header-logos-scale));
}

@media (min-width: 992px) {
  .head {
    position: fixed;
  }

  header {
    --header-padding-x: 2rem;
  }

  header:not(.scrolled) {
    --header-logos-scale: 1.5;
    --header-padding-y: 1.5rem;
  }

  /* * scrolled state */
  header:not(.scrolled) {
    background-color: transparent;
    box-shadow: none;
  }
  
}


.hero {
  --hero-img: url('../img/hero-img.jpg');
  --hero-bg-opacity: 0.75;
  --hero-overlay:
    linear-gradient(rgba(255, 255, 255, 0.6), transparent 20%, transparent 46%, white),
    linear-gradient(90deg, rgba(255, 255, 255, 0.35), transparent 20%, transparent 85%, white),
    linear-gradient(rgba(255, 255, 255, var(--hero-bg-opacity)), rgba(255, 255, 255, var(--hero-bg-opacity)));
  /* --hero-bg: var(--hero-img); */
  background-image: var(--hero-overlay, none), var(--hero-img);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% 20%;

  /* * ALT Img - máma expanded mirrored */
  --hero-img: url('../img/pomahame-mama-alt.png');
  background-position: 75% 35%;
}

@media (min-width: 992px) {
  .hero {
    min-height: 600px;
    --hero-bg-opacity: 0.25;
    /* ? no overlay gradient ? */
    /* background-image: var(--hero-img); */
  }
}

/* NOTE: Adds yellow square bg to CG wordmark */
.cg-square {
  background: #ffed00;
  aspect-ratio: 6 / 5;
  padding: 4% 2.5% 0%;
}

/* # HERO LOGOS */

.hero-logo.logo-nzd {
  width: 120px;
}

.hero-logo.logo-cg {
  width: 90px;
}

@media (min-width: 992px) {
  .hero-logo.logo-nzd {
    width: 180px;
  }

  .hero-logo.logo-cg {
    width: 130px;
  }
}

hgroup p,
.subheader {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
  font-family: var(--bs-custom-headings-font-family);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.square {
  aspect-ratio: 1;
}

q {
  font-style: italic;
}

figcaption {
  margin-top: 1rem;
  color: #525252;
  font-style: italic;
  font-size: 0.875rem;
  color: var(--bs-secondary-color)
}

/* TEMP */
.temp-hero {
  --hero-img: url('../img/couveuse-bebe-premature.webp');
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.35), transparent 16%, transparent 46%, white),
    linear-gradient(90deg, rgba(255, 255, 255, 0.35), transparent 20%, transparent 85%, white),
    linear-gradient(#ffffffe1, #ffffffbf),
    var(--hero-img);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  padding-block: 4rem;
  text-align: center;
}

@media (min-width: 576px) {
  .temp-hero {
    padding-block: 8.5rem 7rem;
  }
}

/* ARTICLE STYLING (BLOG POST, PRESS RELEASE) */


/* article section {
  margin-block: 3rem;
}

article :is(.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6) {
  margin-top: 2rem;
}

article p {
  margin-bottom: 1lh;
} */


/* WIP */
:is(.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6) {
  margin-top: 1.75rem;
}

:is(.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6):first-child {
  margin-top: 0;
}

hgroup :is(.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6) {
  margin-top: 0;
}