/* ? move to reset */
img {
  max-width: 100%;
  display: block;
}

/* TODO: possibly update v-data value */
div:has(>#main) {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

main#main {
  flex: 1;
}

section {
  margin-block: 3.5rem;
  scroll-margin-top: 8.5rem;
  overflow-x: hidden;
  overflow-x: clip;
}

/* ? maybe ? */
section:first-of-type {
  /* margin-top: 3rem; */
  /* background-color: red; */
}

section[class*="bg-"] {
  margin-block: 0;
  padding-block: 3rem;
}

section section {
  margin-block: 1.5rem;
}

@media (min-width: 992px) {
  section {
    margin-block: 4.5rem;
  }

  section section {
    margin-block: 3rem;
  }
}

/* WIP */

/* TEMP: Replace with correct selector for PROD */
.head {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
}

header {
  --header-transition-duration: 200ms;
  --header-transition: all var(--header-transition-duration) ease-in-out;
  --header-logos-scale: 1;
  --header-padding-y: 12px;
  --header-padding-x: 15px;

  transition: var(--header-transition);
  padding-block: var(--header-padding-y);
  padding-inline: var(--header-padding-x);

  background-color: white;
  box-shadow: 0px 2px 6px 0px #0000001a;
}

/* # HEADER LOGOS */

/* logos container */
.header-logos {
  gap: 1.25rem;
  transition: var(--header-transition);
}

.header-logo {
  width: auto;
  transition: var(--header-transition);
  transform-origin: left top;
}

header .logo-nzd {
  height: calc(46px * var(--header-logos-scale));
}

.logo-cg-wrapper {
  overflow: visible;
  height: 0;
  position: relative;
  top: calc((var(--header-padding-y) * -1) - 1px);
  transition: var(--header-transition);
}

.logo-cg {
  height: calc(78px * var(--header-logos-scale));
}

@media (min-width: 992px) {
  .head {
    position: fixed;
  }

  header {
    --header-padding-x: 2rem;
  }

  header:not(.scrolled) {
    --header-logos-scale: 1.5;
    --header-padding-y: 1.0rem;
    background-color: transparent;
    box-shadow: none;
  }

}


.hero {
  --hero-img: url('../img/nzd-lady-2.jpg');
  --hero-bg-opacity: 0.75;
  /* --hero-overlay:
    linear-gradient(rgb(255, 255, 255) 0%, transparent 0%),
    linear-gradient(90deg, rgba(255, 255, 255, 0.35), transparent 20%, transparent 85%, white),
    linear-gradient(rgba(255, 255, 255, var(--hero-bg-opacity)), rgba(255, 255, 255, var(--hero-bg-opacity))); */
  /* --hero-overlay:
    linear-gradient(rgba(255, 255, 255, 0.85), transparent 25%, transparent 46%, transparent),
    linear-gradient(90deg, rgba(255, 255, 255, 0.35), transparent 20%, transparent 85%, white),
    linear-gradient(rgba(255, 255, 255, var(--hero-bg-opacity)), rgba(255, 255, 255, var(--hero-bg-opacity))); */
  /* --hero-bg: var(--hero-img); */
  background-image: var(--hero-overlay, none), var(--hero-img);
  background-size: auto 125%;
  background-repeat: no-repeat;
  background-position: 50% -20%;
  min-height: 350px;

}

@media (min-width: 992px) {
  .hero {
    --hero-bg-opacity: 0.1;
    min-height: 600px;
  }
}

hgroup p,
.subheader {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
  font-family: var(--bs-custom-headings-font-family);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.square {
  aspect-ratio: 1;
}

q {
  font-style: italic;
}

figcaption {
  margin-top: 1rem;
  color: #525252;
  font-style: italic;
  font-size: 0.875rem;
  color: var(--bs-secondary-color)
}

/* TEMP */
.temp-hero {
  --hero-img: url('../img/couveuse-bebe-premature.webp');
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.35), transparent 16%, transparent 46%, white),
    linear-gradient(90deg, rgba(255, 255, 255, 0.35), transparent 20%, transparent 85%, white),
    linear-gradient(#ffffffe1, #ffffffbf),
    var(--hero-img);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  padding-block: 4rem;
  text-align: center;
}

@media (min-width: 576px) {
  .temp-hero {
    padding-block: 8.5rem 7rem;
  }
}

/* ARTICLE STYLING (BLOG POST, PRESS RELEASE) */


/* article section {
  margin-block: 3rem;
}

article :is(.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6) {
  margin-top: 2rem;
}

article p {
  margin-bottom: 1lh;
} */


/* WIP */
:is(.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6) {
  margin-top: 1.75rem;
}

:is(.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6):first-child {
  margin-top: 0;
}

hgroup :is(.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6) {
  margin-top: 0;
}